* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: black;

}

.container {
	background: grey;
}

div .headings {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px;
	padding: 20px 0;
	font-family: 'Run!';
	background-color: olive;
}

div .headings .nameOfGame {
	font-size: 3rem;
}

div .headings h1 .hang {
	color: red;
}

div .headings .before {
	color: red;
}

#instructionParas {
	font-family: 'Headliner No. 45';
	background: olive;
	color: black;
	text-align: center;
	font-size: 1.5rem;
	margin-top: 100px;
	padding: 20px;
}

.playerDiv {
	display: flex;
	justify-content: space-between;
	font-size: 2rem;
	font-family: 'Headliner No. 45';
	color: white;
	margin-bottom: -60px;
}


.hangmanContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

#underscores {
	text-align: center;
	font-size: 1.7rem;
	font-family: 'Run!';
	color: white;
	margin-bottom: 20px;
}

.keyboardContainer {
	text-align: center;
}

.keyboardButtons {
	border: 1px solid black;
}

.resetButton {
	display: flex;
	justify-content: center;
	padding-bottom: 60px;
}